.banner{
    height: 100vh;
    background-image: url('../../public/images/banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner__shadow{
    height: 100vh;
    background-color: black;
    margin-top: -100vh;
    opacity: 0.4;
}

.banner__title{
    color: white;
    font-size: 34px;
    z-index: 1000;
    border-bottom: 1px solid white;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.banner__subtitle{
    color: white;

    font-size: 26px;
    z-index: 1000;
    margin-top: 15px;
    border-bottom: 1px solid white;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    margin-top: 5px;

}