@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

html{
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    background-color: white;
}

body{
    margin: 0px;
    padding: 0px;    
}

h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
}

a:link {
    text-decoration:none;
    color: black;
}

a:visited {
    text-decoration:none;
    color: black;
}

a:hover {
    text-decoration:none;
    color: black;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar {
    width: 6px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: black;
}

.title{
    margin: 65px;
    margin-top: 95px;
    text-align: center;
    font-size: 30px;
    border-bottom: 3px solid #033a4b;
    color: #033a4b;
    width: 250px;
}

.whatsApp{
    position: fixed;
    width: 60px;
    height: 60px;
    right: 10px;
    bottom: 5px;
    background-color: green;
    color: white !important;
    z-index: 1000;
    text-align: center;
    cursor: pointer;
    font-family: 'ETH';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 30px;
}

.whatsApp__icon{
    width: 70%;
}