.portfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 5px #ccc;
}

.portfolio__container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    overflow: hidden;
    flex-wrap: wrap;
}

.portfolio__card{
    display: block;
    width: 300px;
    height: 400px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 1px 5px #ccc;
    position: relative;
    border-radius: 15px;
}


.portfolio__img--container{
    width: 100%;
    position: relative;
    overflow-y: hidden;
}

.portfolio__img--subcontainer{
    display: flex;
    transition: all .5s linear;
    overflow: hidden;
}

.portfolio__img{
    width: 295px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.portfolio__img img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.portfolio-btn{
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: black;
    opacity: 0.6;
}

.portfolioBtn-prev{
    left: 0px;
    top: 50%;
}
.portfolioBtn-next{
    right: 0px;
    top: 50%;
}

.portfolio__title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(153, 153, 153);
    padding: 2px;
    border-bottom: 1px solid #ccc;
    margin: 5px;
}

.portfolioTecnology__container{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
    height: 163px;
    overflow-y: auto;
}

.portfolioTecnology__item{
    display: flex;
    min-width: 120px;
    height: 30px;
    margin: 10px;
    align-items: center;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 10px;
    padding: 2px;
}

.portfolioTecnology__description{
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
    color: rgb(175, 173, 173);
}

.portfolio__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.portfolio__footer__item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-weight: bold;
    width: 40%;
    text-align: center;
    padding: 5px;
    box-shadow: 1px 1px 5px #ccc;
}

.portfolio__footer__item span{
    margin-left: 5px;
    font-size: 14px;
    color: #ccc;
}