@media (max-width:900px){
    .menu__mobile{
        display: flex;
    }

    .menu{
        display: none;
    }

    .about__container{
        flex-direction: column-reverse;
    }
    
    .about,.portfolio{
        height: auto;
        padding-bottom: 25px;
    }

    .about__slot__description{
        padding-right: 0px;
    }

    .portfolio__container{
        flex-direction: column;
    }

    .my_picure{
        max-width: 250px;
    }

    .project__info{
        padding: 0px;
    } 
    
    .form-budget{
        width: 90%;
    }

    .portfolio__card{
        width: 95%;
        margin-top: 20px;
    }

    .portfolio__img{
        width:100vw;
    }

    .portfolio__title{
        font-size: 16px;
    }

    .portfolio__footer__item span{
        font-size: 14px;
    }

    .modal-dialog {
        max-width: 880px !important;
    }

    .title,.budget_title{
        width: 85% !important;
    }
}